.total__box{
    width: 80%;
    display: flex;
    margin: 200px auto;
}

.total__box .textBox{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.total__box .textBox span{
    margin-bottom: 20px;
}

.total__box .textBox span:nth-child(1){
    font-size: 24px;
}

.total__box .textBox span:nth-child(2){
    color: #b2b3bc;
}

.total__box .textBox ul{
    display: flex;
    list-style: none;
}

.total__box .textBox ul li{
    margin-right: 10px;
    margin-bottom: 20px;
}

.total__box .textBox span:nth-child(4){
    margin-top: 30px;
}


